body{
    font-family: 'Roboto', sans-serif !important;
}

.background{

    background-color: #456fbd;
    }

    .text-orange {
        color:rgb(224, 154, 22);
        }
    .brand{
        color: #ff5252;
    }

    .table-dark{
        background-color: #ff5252!important;
    }

    .positive{
        color:#49fb35;
    }

    .negative{
        color:#ff0101;
    }